# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.challenge 1.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\challenge 1\.idea\.idea.challenge 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
